@media (min-width: 1200px) {
}

#shine-background {
	/* background-size: cover; */
	position: relative;
	top: -50%;
	left: -50%;
	width: 100%;
	height: 100%;
	background-color: #363495;
	background: radial-gradient(
			farthest-corner at top,
			#ffffff 0%,
			#5726c2 4%,
			#41284e 12.25%,
			#25213a 22.25%,
			#33187c 50%
		)
		top right/200% 200%;
	display: flow-root;
	justify-content: center;
	align-items: center;
	color: rgb(243, 62, 228);
	font-weight: bold;
	animation: colorChange 5s infinite alternate;
}
@keyframes colorChange {
	to {
		background-position: top left;
	}
}
@keyframes move_eye {
	from {
		margin-left: -20%;
	}
	to {
		margin-left: 100%;
	}
}
@keyframes move_mouth {
	from {
		margin-left: -20%;
	}
	to {
		margin-left: 100%;
	}
}

.palette-mosaic {
	font-family: 'Palette Mosaic', cursive;
}

.hurricane-font {
	font-family: 'Hurricane', cursive;
	color: #61dafb;
}
.dancing-font {
	font-family: 'Dancing Script', cursive;
}
.indie-flower-font {
	font-family: 'Indie Flower', cursive;
}
.permanent-font {
	font-family: 'Permanent Marker', cursive;
}
.smokum-font {
	font-family: 'Smokum', cursive;
}
