@media (min-width: 1200px) {
}

#shine-background {
	background-color: royalblue;
	position: relative;
	/* padding: 10%; */
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-size: cover;
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
	background: radial-gradient(
			farthest-corner at bottom,
			rgb(120, 119, 165) 0.5%,
			rgb(82, 150, 175) 5%,
			rgb(59, 26, 151) 10%,
			indigo 20%,
			rgb(31, 126, 78) 30%,
			darkviolet 40%,
			darkmagenta 50%,
			darkred 60%,
			darkorange 70%,
			darkgoldenrod 80%,
			darkgreen 90%,
			darkblue 100%
		)
		top right/200% 200%;
	color: lavenderblush;
	animation: colorChange 10s infinite alternate;
}
@keyframes colorChange {
	to {
		background-position: top left;
	}
}
@keyframes move_eye {
	from {
		margin-left: -20%;
	}
	to {
		margin-left: 100%;
	}
}
@keyframes move_mouth {
	from {
		margin-left: -20%;
	}
	to {
		margin-left: 100%;
	}
}
.backButton {
	width: 20%;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	/* clear: both; */
	position: bottom-right;
}
p {
	margin-bottom: 10px !important;
}
input.right {
	float: right !important;
}

.palette-mosaic {
	font-family: 'Palette Mosaic', cursive;
}

.hurricane-font {
	font-family: 'Hurricane', cursive;
	color: #61dafb;
}
.dancing-font {
	font-family: 'Dancing Script', cursive;
}
.indie-flower-font {
	font-family: 'Indie Flower', cursive;
}
.permanent-font {
	font-family: 'Permanent Marker', cursive;
}
.smokum-font {
	font-family: 'Smokum', cursive;
}
